# Archivos de Entorno Virtual (¡Importante!)
venv/
.venv/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo

# Archivos de sistema/SO
.DS_Store

# Dependencias de Node
node_modules/
package-lock.json

# Binario de Tailwind CLI
tailwind
